#Calculator{
height: 500px;
    width: 500px;
    align-items: center;
    background-color: black;
    border-radius: 40px;
    position: absolute;
    left: 1000px;
    top: 300px;
    display: none;
}

#Calculator #Knopki{
    display: grid;
position: absolute;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
top:200px;
left: 150px;
align-items: center;
}

button {
    
    margin: 1px;
    font-size: 50px;
    
    border-radius: 100px;
    cursor: pointer;
}

#Calculator #Wykonaj{
position: absolute;
top:430px;
left: 400px;

}

#Calculator #Pole{
    position: absolute;
    left: 150px;
width: 200px;
height: 50px;
    background-color: aliceblue;
}

